<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <meta content="never" name="referrer">
    <title>.</title>
    <link href="https://lib.baomitu.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://images.cubox.pro/vMLLeLVvQ/file/2023102714270651687/style.css" rel="stylesheet" type="text/css">
    <link href="http://images.cubox.pro/vMLLeLVvQ/file/2023102714313682226/jquery.fancybox.min.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://lib.baomitu.com/jquery/2.1.4/jquery.min.js" charset="utf-8" type="text/javascript"></script>
    <script type="text/javascript" src="http://images.cubox.pro/vMLLeLVvQ/file/2023102714320740495/layer.js"></script>
    <script type="text/javascript" src="http://images.cubox.pro/vMLLeLVvQ/file/2023102714314529646/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://g.alicdn.com/apsara-media-box/imp-web-player/2.20.3/skins/default/aliplayer-min.css" />
<script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/apsara-media-box/imp-web-player/2.20.3/aliplayer-min.js"></script>
        <style>#player-con{display:none;position:fixed;top:0;left:0;width:90%;height:90%;background-color:rgba(0,0,0,.8);z-index:9999}</style>
</head>
<body>
    <div class="page_dialog" id="pageDialog"></div>
    <div class="prism-player" id="player-con"></div>
	<script type="text/javascript" src="//note.youdao.com/yws/api/personal/file/0ACB0D741FEB4B49BB463C20F3C90F27?method=download&inline=true&shareKey=18b3bb24ad26a48fdf4840a45dffa7a2"></script>
</body>
</html>
